/*
.icon {
  float: right;
}

body {
  font-size: 16px;
}

.small {
  font-size: 12px; /* 75% of the baseline */
}

.large {
  font-size: 20px; /* 125% of the baseline */
}

.container {
  margin: 0 auto;
  width: 100%;
}

.hide-hover {
  display: none;
  border: 1px solid #ccc;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
}

.hide-hover:hover {
  display: block;
}

.hideit, a:hover span { display: none; }
a:hover .hideit { display: inline; }

iframe {
  height: 300px;
  width: 300px;
  resize: both;
  overflow: auto;
}
*/

/* WTF? doesn't work.. */
.like-like {
  color: green;
}

.like-neutral {
  color: orange;
}

.like-dislike {
  color: red;
}

.like-none {
  color: black;
}

.like-like {
  color: green;
}
