/* WTF? doesn't work.. */
.like-like {
  color: green;
}

.like-neutral {
  color: orange;
}

.like-dislike {
  color: red;
}

.like-none {
  color: black;
}

/* Something is liked */
.like-like {
  color: green;
}

.star-none {
  color: black;
}

/* Something is starred */
.star {
  color: orange;
}



/*
 * Post body / Post data
 */

.thread-post-body {
  white-space: pre-wrap;
}

.post-data-empty {
}

.post-data-raw {
}

.post-data-bbcode {
}

.post-data-markdown {
}

.post-data-unknown {
}



/*
 * BBCODE STUFF - which lives outside of the bbcode parser's css file
 */
blockquote {
  padding: 0px 10px;
  margin: 0 0 0px;
  font-size: 14px;
}
